<div class="container-fulid top-main">
	<div class="tm-cover">
		<div class="container">
			<div class="tm-top">
				<p class="tm-p">映画の情報・評価・レビュー投稿なら</p>
				<h1 class="tm-h1"><%= fa_icon("film") %>Cinemall</h1>
				<p class="tm-catch">今日は、何を見よう？</p>
			</div>
			<% unless user_signed_in? || admin_signed_in? %>
				<div class="tm-bottom">
					<div class="tm-link">
						<%= link_to "新規登録", new_user_registration_path, class: "btn btn-outline-primary btn-lg tm-up" %>
						<%= link_to "ログイン", new_user_session_path, class: "btn btn-outline-success btn-lg tm-in" %>
					</div>
				</div>
			<% end %>
		</div>
	</div>
</div>
<% @lists.each do |l| %>
<div class="container-fulid top-content">
	<div class="container top-container">
		<h4 class="top_list_name"><%= l.list_name %></h4>
		<% l.list_items.limit(5).each do |li| %>
			<div class="top_movie_box">
				<%= link_to movie_path(li.movie) do %>
					<%= attachment_image_tag li.movie, :movie_image, format: 'jpeg', :size => '187x248' %>
					<h6 class="top_movie_box_j"><%= li.movie.j_title %></h6>
				<% end %>
				<div class="top_icon-boxes clearfix">
					<%= link_to new_user_session_path do %>
						<div class="top_icon_box">
							<div>
								<%= fa_icon("eye") %>
							</div>
							<span><%= li.movie.reviews.count %></span>
						</div>
						<div class="top_icon_box">
							<div>
								<%= fa_icon("paperclip") %>
							</div>
							<span><%= li.movie.clips.count %></span>
						</div>
					<% end %>
			        <div class="top_icon_box top_star">
						<div>
							<%= fa_icon("star") %>
						</div>
						<span><%= li.movie.score_average %></span>
					</div>
				</div>
			</div>
		<% end %>
	</div>
	<%= link_to 'すべて見る', list_path(l), class: 'btn btn-outline-warning badge-pill'  %>
</div>
<% end %>