<div class="container">
	<div class="mn_main">
		<h2 class="mn_title">作品編集</h2>
		<%= form_for([:admins, @movie], html: {class: 'form-horizontal'}) do |f| %>
			<div class="form-group row mn_form">
				<%= f.label :j_title, '邦題', class: "col-sm-2 col-form-label mn_label" %>
				<div class="col-sm-8">
					<%= f.text_field :j_title, class: "form-control" %>
				</div>
			</div>
			<div class="form-group row mn_form">
				<%= f.label :e_title, '原題', class: "col-sm-2 col-form-label mn_label" %>
				<div class="col-sm-8">
					<%= f.text_field :e_title, class: "form-control", id: 'e_title_help' %>
					<small id="e_title_help" class="help-block">※洋画の場合のみに記入</small>
				</div>
			</div>

			<div class="form-group row mn_form_ex">
				<%= fields_for @genre do |a| %>
					<%= a.label :genre_name, 'ジャンル', class: "col-sm-2 col-form-label mn_label" %>
					<div class="col-sm-8">
						<%= a.text_field :genre_name , :list => "genre_list", :autocomplete => "off", class: "form-control", value: "#{@movie.genre.genre_name}" %>
						<datalist id="genre_list">
							<% @genres.each do |genre| %>
								<option value="<%= genre.genre_name %>">
							<% end %>
						</datalist>
					</div>
				<% end %>
			</div>

			<div class="form-group row mn_form">
				<%= fields_for @company do |a| %>
					<%= a.label :company_name, '配給会社', class: "col-sm-2 col-form-label mn_label" %>
					<div class="col-sm-8">
						<%= a.text_field :company_name , :list => "company_list", :autocomplete => "off", class: "form-control", value: "#{@movie.company.company_name}" %>
						<datalist id="company_list">
							<% @companies.each do |company| %>
								<option value="<%= company.company_name %>">
							<% end %>
						</datalist>
					</div>
				<% end %>
			</div>

			<div class="form-group row mn_form">
				<%= fields_for @country do |a| %>
					<%= a.label :country_name, '製作国', class: "col-sm-2 col-form-label mn_label" %>
					<div class="col-sm-8">
						<%= a.text_field :country_name , :list => "country_list", :autocomplete => "off", class: "form-control", value: "#{@movie.country.country_name}"  %>
						<datalist id="country_list">
							<% @countries.each do |country| %>
								<option value="<%= country.country_name %>">
							<% end %>
						</datalist>
					</div>
				<% end %>
			</div>
			<div class="form-group row mn_form">
				<%= f.label :release, '公開日', class: "col-sm-2 col-form-label mn_label" %>
				<div class="col-sm-4">
					<%= f.date_field :release, class: "form-control" %>
				</div>
			</div>
			<div class="form-group row mn_form has-feedback">
				<%= f.label :time, '上映時間', class: "col-sm-2 col-form-label mn_label" %>
				<div class="col-sm-4 input-group">
					<%= f.number_field :time, class: "form-control" %>
					<div class="input-group-prepend">
      					<span class="input-group-text mn_min">分</span>
    				</div>
				</div>
			</div>
			<div class="form-group row mn_form">
				<%= f.label :trailer_id, '予告映像ID', class: "col-sm-2 col-form-label mn_label" %>
				<div class="col-sm-8">
					<%= f.text_field :trailer_id, class: "form-control", id: 'trailer_help' %>
					<small id="trailer_help" class="help-block">※「https://www.youtube.com/embed/」の後のIDを入力</small>
				</div>
			</div>
			<div class="form-group row mn_form_ex">
				<%= f.label :summary, 'あらすじ', class: "col-sm-2 col-form-label mn_label" %>
				<div class="col-sm-8">
					<%= f.text_area :summary, class: "form-control", :rows => '6' %>
				</div>
			</div>
			<div class="form-group row mn_form">
				<%= f.label :movie_image, 'ポスター', class: "col-sm-2 col-form-label mn_label" %>
				<div class="col-sm-8">
					<%= attachment_image_tag @movie, :movie_image, format: 'jpeg', :size => '150x200' %><br>
					<%= f.attachment_field :movie_image, class: "mn_attachment" %>
				</div>
			</div>
			<div class="form-group row mn_form">
				<div class="col-sm-9"></div>
				<div class="col-sm-2 ms_btn">
					<%= f.submit '登録', class: 'btn btn-primary btn-md btn-block' %>
				</div>
			</div>
		<% end %>
	</div>
</div>