<div class="container">
  <div class="login-main">
    <h1 class="login-title">ログイン</h1>
    <div class="login-form">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-group lf-group1">
          <%= f.label :email, 'メールアドレス' %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control', placeholder: 'Email address' %>
        </div>
        <div class="form-group lf-group2">
          <%= f.label :password, 'パスワード' %><br />
          <%= f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: 'Password' %>
        </div>
        <div class="actions lf-btn">
          <%= f.submit "Submit", class: 'btn btn-success btn-block ' %>
        </div>
      <% end %>
      <div class="devise_bottom">
        <span><%= link_to ">>新規会員登録" ,new_user_registration_path%></span>
      </div>
    </div>
  </div>
</div>
