<div class="col-3">
	<div class="lind_sidebar">
		<h5 class="lind_sidebar_title">ジャンル</h5>
		<% genres.each do |g| %>
			<div class="lind_sidebar_item">
				<%= link_to genre_path(g) do %>
					<div>
						<%= g.genre_name %>
						(<%= g.movies.count %>)
					</div>
				<% end %>
			</div>
		<% end %>
		<h5 class="lind_sidebar_title">製作国</h5>
		<% countries.each do |c| %>
			<div class="lind_sidebar_item">
				<%= link_to country_path(c) do %>
					<div>
						<%= c.country_name %>
						(<%= c.movies.count %>)
					</div>
				<% end %>
			</div>
		<% end %>
	</div>
</div>