<div class="container">
	<table class="table">
		<thead>
			<tr>
				<th>ID</th>
				<th>ポスター</th>
				<th>邦題</th>
				<th>原題</th>
				<th>ジャンル</th>
				<th>配給会社</th>
				<th>製作国</th>
				<th>上映時間</th>
			</tr>
		</thead>
		<tbody>
				<tr>
					<td><%= @movie.id %></td>
					<td><%= attachment_image_tag @movie, :movie_image, format: 'jpeg', :size => '150x200' %></td>
					<td><%= @movie.j_title %></td>
					<td><%= @movie.e_title %></td>
					<td><%= @movie.genre.genre_name %></td>
					<td><%= @movie.company.company_name %></td>
					<td><%= @movie.country.country_name %></td>
					<td><%= @movie.time %></td>
				</tr>
		</tbody>
	</table>
</div>
