<!-- modal -->
	<!-- すでにレビューがある場合 -->

<!-- modal end -->
<div class="container">
	<div class="ms_top">
		<div class="row">
			<div class="col-3 ms_top_1">
				<div class="ms_image">
					<%= attachment_image_tag @movie, :movie_image, format: 'jpeg', :size => '257x342' %>
				</div>
				<div class="ms_icons clearfix">
					<!-- ユーザーがログインしている場合 -->
					<% if user_signed_in? %>
						<!-- ログインユーザーのレビューがある場合 -->
						<% if @user_review.present? %>
							<div class="ms_icon_box ms_icon_box1 ms_icon_box1_present modal_open" >
								<div>
									<%= fa_icon("eye") %>
								</div>
								<p class="ms_icon_p"><%= @movie.reviews.count %></p>
							</div>
							<%= render 'movies/edit_modal', movie: @movie, user_review: @user_review %>
						<!-- ログインユーザーのレビューがない場合 -->
						<% else %>
							<div class="ms_icon_box ms_icon_box1 modal_open">
								<div>
									<%= fa_icon("eye") %>
								</div>
								<p class="ms_icon_p"><%= @movie.reviews.count %></p>
							</div>
							<%= render 'movies/new_modal', movie: @movie, review: @review %>
						<% end %>
				<!-- clip -->
						<div id="movie-<%= @movie.id %>">
							<%= render 'clips/ms_clip', movie: @movie %>
						</div>
					<!-- ログインしていない場合 -->
					<% else %>
						<%= link_to new_user_session_path do %>
						<div class="ms_icon_box ms_icon_box1">
							<div>
								<%= fa_icon("eye") %>
							</div>
							<p class="ms_icon_p"><%= @movie.reviews.count %></p>
						</div>
						<% end %>
						<%= link_to new_user_session_path do %>
						<div class="ms_icon_box ms_icon_box2">
							<div>
								<%= fa_icon("paperclip") %>
							</div>
							<p class="ms_icon_p"><%= @movie.clips.count %></p>
						</div>
						<% end %>
					<% end %>
				</div>
			</div>
			<div class="col-9 ms_top_2">
				<div class="ms_top_2box">
					<h2 class="ms_j_title"><%= @movie.j_title %></h2>
					<p class="ms_e_title"><%= @movie.e_title %></p>
					<div class="ms_star">
						<% unless @movie.score_average == 0.0 %>
							<% if @movie.score_average == 5.0 %>
								<span class="rate rate5"></span>
							<% elsif @movie.score_average >= 4.5 %>
								<span class="rate rate4-5"></span>
							<% elsif @movie.score_average >= 4.0 %>
								<span class="rate rate4"></span>
							<% elsif @movie.score_average >= 3.5 %>
								<span class="rate rate3-5"></span>
							<% elsif @movie.score_average >= 3.0 %>
								<span class="rate rate3"></span>
							<% elsif @movie.score_average >= 2.5 %>
								<span class="rate rate2-5"></span>
							<% elsif @movie.score_average >= 2.0 %>
								<span class="rate rate2"></span>
							<% elsif @movie.score_average >= 1.5 %>
								<span class="rate rate1-5"></span>
							<% elsif @movie.score_average >= 1.0 %>
								<span class="rate rate1"></span>
							<% elsif @movie.score_average >= 0.5 %>
								<span class="rate rate0-5"></span>
							<% end %>
							<span class="ms_score"><%= @movie.score_average %></span>
						<% end %>
					</div>
				</div>
				<div class="ms_top_2box">
					<div>
						<h5 class="mn_h5">あらすじ</h5>
						<p class="summary_all"><%= @movie.summary %></p>
						<p class="summary_limit"><%= @movie.summary.truncate(150) %></p>
						<% if @movie.summary.length > 150 %>
						<span class="ms_show_all" id="ms_show_all_s">▽つづきを読む</span>
						<% end %>
					</div>
				</div>
				<div class="row ms_top_2box">
					<div class="col-6 ms_bottom_box">
						<table class="table table-bordered ms_cast_table">
							<% if @director.present? %>
							<tbody>
								<!-- 監督 -->
								<tr>
									<td class="ds_td">監督</td>
									<td>
										<%= link_to person_path(@director.person) do %>
											<div class="ms_cast_table_link">
												<%= @director.person.person_name %>
											</div>
										<% end %>
									</td>
								</tr>
								<% @directors.each do |d| %>
								<tr>
									<td class="ds_td"></td>
									<td>
										<%= link_to person_path(d.person) do %>
											<div class="ms_cast_table_link">
												<%= d.person.person_name %>
											</div>
										<% end %>
									</td>
								</tr>
								<% end %>
							</tbody>
							<%end%>
								<!-- 脚本 -->
							<% if @scenario.present? %>
							<tbody>
								<tr>
									<td class="ds_td">脚本</td>
									<td>
										<%= link_to person_path(@scenario.person) do %>
											<div class="ms_cast_table_link">
												<%= @scenario.person.person_name %>
											</div>
										<% end %>
									</td>
								</tr>
								<% @scenarios.each do |s| %>
								<tr>
									<td class="ds_td"></td>
									<td>
										<%= link_to person_path(s.person) do %>
											<div class="ms_cast_table_link">
												<%= s.person.person_name %>
											</div>
										<% end %>
									</td>
								</tr>
								<% end %>
							</tbody>
							<% end %>
								<!-- 出演者　すべて -->
							<% if @actor.present? %>
							<tbody class="ms_actor_all">
								<tr>
									<td class="a_td">出演者</td>
									<td>
										<%= link_to person_path(@actor.person) do %>
											<div class="ms_cast_table_link">
												<%= @actor.person.person_name %>
											</div>
										<% end %>
									</td>
								</tr>
								<% @actors_all.each do |a| %>
								<tr>
									<td class="a_td"></td>
									<td>
										<%= link_to person_path(a.person) do %>
											<div class="ms_cast_table_link">
												<%= a.person.person_name %>
											</div>
										<% end %>
									</td>
								</tr>
								<% end %>
							</tbody>
								<!-- 出演者 リミット-->
							<tbody class="ms_actor_limit">
								<tr>
									<td class="a_td">出演者</td>
									<td>
										<%= link_to person_path(@actor.person) do %>
											<div class="ms_cast_table_link">
												<%= @actor.person.person_name %>
											</div>
										<% end %>
									</td>
								</tr>
								<% @actors_limit.each do |a| %>
								<tr>
									<td class="a_td"></td>
									<td>
										<%= link_to person_path(a.person) do %>
											<div class="ms_cast_table_link">
												<%= a.person.person_name %>
											</div>
										<% end %>
									</td>
								</tr>
								<% end %>
							</tbody>
							<% end %>
						</table>
						<% if @actors_all.count > 3 %>
						<p class="ms_show_all" id="ms_show_all">▽すべて表示する</p>
						<p class="ms_hide" id="ms_hide">△もとに戻す</p>
						<% end %>
					</div>
					<div class="col-6 ms_bottom_box ms_bottom_box_right">
						<div class="ms_info_box">
							<table class="table table-borderless">
								<tbody>
									<tr>
										<td class="ms_info_td">ジャンル</td>
										<td><span>:</span> <%= @movie.genre.genre_name %></td>
									</tr>
									<tr>
										<td class="ms_info_td">配給会社</td>
										<td><span>:</span> <%= @movie.company.company_name %></td>
									</tr>
									<tr>
										<td class="ms_info_td">製作国</td>
										<td><span>:</span> <%= @movie.country.country_name %></td>
									</tr>
									<tr>
										<td class="ms_info_td">上映時間</td>
										<td><span>:</span> <%= @movie.time %>分</td>
									</tr>
									<tr>
										<td class="ms_info_td">公開日</td>
										<td><span>:</span> <%= @movie.release %></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<% unless @movie.trailer_id.blank? %>
				<div class="ms_trailer_box">
					<h5 class="mn_h5">予告映像</h5>
					<%= movie(movie: @movie.trailer_id) %>
				</div>
				<% end %>
			</div>
		</div>
	</div>
</div>
<div class='container-fulid ms_bottom'>
	<div class="ms_review">
		<h4 class="ms_review_title">
			「<%= @movie.j_title %>」に投稿されたレビュー
		</h4>
		<!-- レビューがなかったら -->
		<% unless @movie.reviews.present? %>
			<h5 class="ms_no_review">まだレビューがありません</h5>
		<!-- レビューがあったら -->
		<% else %>
			<!-- ログインユーザーのレビューがあったら -->
			<% if @user_review.present? %>
				<!-- ログインユーザー部分 -->
				<%= render 'movies/review', review: @user_review %>
				<!-- その他のユーザー -->
				<% @reviews.each do |r| %>
					<%= render 'movies/review', review: r %>
				<% end %>
			<!-- ログインユーザーのレビューがなかったら -->
			<% else %>
				<% @movie.reviews.each do |r| %>
					<%= render 'movies/review', review: r %>
				<% end %>
			<% end %>
		<% end %>
	</div>
</div>