<div class="container-fulid ">
	<div class="container us_user_info">
		<div class="row">
			<div class="col-2 user_info_res user_info1 clearfix">
				<%= attachment_image_tag user, :profile_image, format: 'jpeg', :size => '150x150', fallback: '/images/no_profile_image.jpg', class: 'profile_image us_profile_image' %>
				<div class="us_f clearfix">
					<%= link_to user_follow_path(user) do %>
						<div class="us_f_box">
							<div>follow</div>
							<span><%= user.followings.count %></span>
						</div>
					<% end %>
					<%= link_to user_follower_path(user) do %>
						<div class="us_f_box">
							<div>follower</div>
							<span><%= user.followers.count %></span>
						</div>
					<% end %>
				</div>
			</div>
			<div class="col-8 user_info_res user_info2">
				<h3	class="us_name"><%= user.user_name %></h3>
				<p class="us_intro"><%= user.user_intro %></p>
			</div>
			<div class="col-2 user_info_res user_info3">
				<% if user_signed_in? %>
					<div class="us_right_btn_zone">
						<% if user_signed_in? && current_user.id == user.id %>
							<%= link_to 'プロフィール編集', edit_user_path(user), class: "btn btn-secondary" %>
						<% else %>
							<%= render 'relationships/followbtn', user: user %>
						<% end %>
					</div>
				<% end %>
			</div>

		</div>
	</div>
</div>