<h4 class="ue_title">プロフィール編集</h4>
<div class="container-fulid ue_cantainer">
	<div class="ue_form">
		<% if @user.errors.any? %>
		  <div id="error_explanation" class=" alert-danger">
		    <ul>
		      <% @user.errors.full_messages.each do |message| %>
		        <li><%= message %></li>
		      <% end %>
		    </ul>
		  </div>
		<% end %>
		<%= form_for @user do |f| %>
			<%= f.label :profile_image, 'プロフィール画像' %>
			<div class="ue_profile_image">
				<%= attachment_image_tag @user, :profile_image, format: 'jpeg', :size => '90x90', fallback: '/images/no_profile_image.jpg', class: 'profile_image' %>
			</div>
			<%= f.attachment_field :profile_image %>
			<div class="form-group ue_form_group">
				<%= f.label :user_name ,'ユーザーネーム' %>
				<%= f.text_field :user_name, class: 'form-control' %>
			</div>
			<div class="form-group ue_form_group">
				<%= f.label :email, 'メールアドレス' %>
				<%= f.email_field :email, class: 'form-control' %>
			</div>
			<div class="form-group ue_form_group">
				<%= f.label :intro, '紹介文（200文字以内）' %>
				<%= f.text_area :user_intro, class: 'form-control', rows: 4  %>
			</div>
			<div class="form-group ue_form_group ue_submit">
				<%= f.submit 'プロフィール更新', class: 'btn-outline-success btn badge-pill' %>
			</div>
        <% end %>

	</div>
</div>
