<%= render 'users/userinfo', user: @user %>
<div class="container-fulid us_main_container_fulid">
	<div class="container us_main_container us_main_container_watch">
		<div class="us_main_box" >
			<div class="us_main_top clearfix">
				<% if user_signed_in? && current_user.id == @user.id %>
				<!-- @userとcurrent_userが一致した場合	 -->
					<div class="us_main_top_box us_main_top_box1">
						<div class="us_watch_logo">
							<div>
								<%= fa_icon("eye") %>
							</div>
							<p>watch</p>
						</div>
						<h2 class="us_count"><%= @user.reviews.count %></h2>
					</div>
					<%= link_to user_clips_path(@user.id) do %>
					<div class="us_main_top_box us_main_top_box2">
						<div class="us_clip_logo">
							<div>
								<%= fa_icon("paperclip") %>
							</div>
							<p>clip</p>
						</div>
						<h3 class="us_count"><%= @user.clips.count %></h3>
					</div>
					<% end %>
					<%= link_to user_timeline_path(@user.id) do %>
					<div class="us_main_top_box us_main_top_box2 us_main_top_box3">
						<div class="us_time_logo">
							<div>
								<%= fa_icon("history") %>
							</div>
							<p>Time Line</p>
						</div>
					</div>
					<% end %>
				<% else %>
				<!-- 本人以外がアクセスした場合 -->
				<div class="us_main_top_box1_50">
						<div class="us_watch_logo">
							<div>
								<%= fa_icon("eye") %>
							</div>
							<p>watch</p>
						</div>
						<h2 class="us_count"><%= @user.reviews.count %></h2>
					</div>
					<%= link_to user_clips_path(@user.id) do %>
					<div class="us_main_top_box2_50">
						<div class="us_clip_logo">
							<div>
								<%= fa_icon("paperclip") %>
							</div>
							<p>clip</p>
						</div>
						<h3 class="us_count"><%= @user.clips.count %></h3>
					</div>
					<% end %>
				<% end %>
			</div>
			<div class="us_main_bottom clearfix">
				<% if @user.reviews.count == 0 %>
					<div class="us_no_review">
						<h4>表示する作品がありません。</h4>
						<div class="us_no_review_image"></div>
					</div>
				<% else %>
					<% @user.reviews.order(created_at: :desc).each do |r| %>
						<div class="us_review_box">
							<h6 class="us_review_box_title">
								<%= link_to r.movie.j_title, movie_path(r.movie) %>
							</h6>
							<div class="us_review_box_left">
								<%= link_to movie_path(r.movie) do %>
									<%= attachment_image_tag r.movie, :movie_image, format: 'jpeg', :size => '150x200' %>
								<% end %>
								<div class="us_icons_box clearfix">
									<!-- ログインしてる場合 -->
									<% if user_signed_in? %>
										<!-- ログインユーザーがすでにレビューをしている場合 -->
										<% if @user_review = Review.find_by(movie_id: r.movie.id , user_id: current_user.id) %>
											<div class="us_icon_box us_icon_box1 us_icon_box1_present modal_open">
												<div>
													<%= fa_icon("eye") %>
												</div>
												<span><%= r.movie.reviews.count %></span>
											</div>
											<%= render 'movies/edit_modal', movie: r.movie, user_review: @user_review %>
										<!-- ログインユーザーがまだレビューしていない場合 -->
										<% else %>
											<div class="us_icon_box us_icon_box1 modal_open">
												<div>
													<%= fa_icon("eye") %>
												</div>
												<span><%= r.movie.reviews.count %></span>
											</div>
											<%= render 'movies/new_modal', movie: r.movie, review: @review %>
										<% end %>
										<!-- clip -->
										<% @movie = r.movie %>
										<div id="movie-<%= @movie.id %>">
											<%= render 'clips/us_clip', movie: @movie %>
										</div>
									<!-- ログインしてない場合 -->
									<% else %>
										<%= link_to new_user_session_path do %>
										<div class="us_icon_box us_icon_box1">
											<div>
												<%= fa_icon("eye") %>
											</div>
											<span><%= r.movie.reviews.count %></span>
										</div>
										<div class="us_icon_box us_icon_box2">
											<div>
												<%= fa_icon("paperclip") %>
											</div>
											<span><%= r.movie.clips.count %></span>
										</div>
										<% end %>
									<% end %>
								</div>
							</div>
							<div class="us_review_box_right">
								<div class="us_ms_star">
									<% unless r.score == 0.0 %>
										<% if r.score == 5.0 %>
											<span class="rate rate5"></span>
										<% elsif r.score >= 4.5 %>
											<span class="rate rate4-5"></span>
										<% elsif r.score >= 4.0 %>
											<span class="rate rate4"></span>
										<% elsif r.score >= 3.5 %>
											<span class="rate rate3-5"></span>
										<% elsif r.score >= 3.0 %>
											<span class="rate rate3"></span>
										<% elsif r.score >= 2.5 %>
											<span class="rate rate2-5"></span>
										<% elsif r.score >= 2.0 %>
											<span class="rate rate2"></span>
										<% elsif r.score >= 1.5 %>
											<span class="rate rate1-5"></span>
										<% elsif r.score >= 1.0 %>
											<span class="rate rate1"></span>
										<% elsif r.score >= 0.5 %>
											<span class="rate rate0-5"></span>
										<% end %>
										<span class="ms_score"><%= r.score %></span>
									<% end %>
								</div>
									<!-- ネタバレしてたら -->
								<div class="us_review_box_comment">
									<% if r.secret == true %>
										<% if r.comment.length > 120 %>
											<p class="secret_hide_review">
												<%= r.comment.truncate(120) %><br>
												<span><%= link_to "続きを読む", review_path(r)%></span>
											</p>
											<p class="review_secret_p">
												<span class="secret_i"><%= fa_icon("bomb") %></span>ネタバレ表示する▽
											</p>
										<% else %>
											<p class="secret_hide_review"><%= r.comment.truncate(120) %></p>
											<p class="review_secret_p">
												<span class="secret_i"><%= fa_icon("bomb") %></span>ネタバレ表示する▽
											</p>
										<% end %>
										<!-- ネタバレ無し -->
									<% else %>
										<% if r.comment.length > 120 %>
											<%= r.comment.truncate(120) %><br>
											<span>
												<%= link_to review_path(r) do %>
													<%= fa_icon("angle-double-right")%>続きを読む
												<% end %>
											</span>
										<% else %>
											<%= r.comment.truncate(120) %>
										<% end %>
									<% end %>
								</div>
								<div>
									<div class="us_bottom_time">
										<span class="review_box_top2_t"><%= r.updated_at.strftime('%Y年%m月%d日 %H:%M') %></span>
									</div>
									<div class="us_review_box_iine" id="review-<%= r.id%>">
										<%= render 'likes/like', review: r %>
									</div>
								</div>
							</div>
						</div>
					<% end %>
				<% end %>
			</div>
		</div>
	</div>
</div>