<!DOCTYPE html>
<html>
  <head>
    <title>Cinemall</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
  </head>
  <body>
  	<header class="<%='top-header' if current_page?(top_path) %>">
  		<div class="container header clearfix">
  			<div class="h_left clearfix">
          <% if user_signed_in? %>
              <%= link_to user_timeline_path(current_user) do %>
                <h1 class="h_logo <%='h_logo_hide' if current_page?(top_path) %>"><%= fa_icon("film") %>Cinemall</h1>
              <% end %>
            <% else %>
              <%= link_to '/' do %>
                <h1 class="h_logo <%='h_logo_hide' if current_page?(top_path) %>" ><%= fa_icon("film") %>Cinemall</h1>
              <% end %>
          <% end %>
  			</div>
  			<div class="h_right">
  				<div class="h_link">
  					<ul class="h_list clearfix">
              <% if admin_signed_in? %>
                <li class="h_list_item1">
                  <%= link_to '管理者トップ', admins_top_path, class: 'h_link_item' %>
                </li>
                <li class="h_list_item1">
                  <%= link_to '映画一覧', admins_movies_path, class: 'h_link_item' %>
                </li>
                <li class="h_list_item1">
                  <%= link_to '利用者一覧', admins_users_path, class: 'h_link_item' %>
                </li>
                <li class="h_list_item2">
                  <%= link_to 'ログアウト', destroy_admin_session_path, method: :delete, class: 'h_link_item' %>
                </li>
              <% elsif user_signed_in? %>
                <li class="h_list_item1">
                  <%= link_to 'マイページ', user_path(current_user), class: 'h_link_item' %>
                </li>
                <li class="h_list_item1">
                  <%= link_to '映画を探す', lists_path, class: 'h_link_item' %>
                </li>
                <li class="h_list_item2">
                  <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'h_link_item' %>
                </li>
              <% else %>
    						<li class="h_list_item1">
                  <%= link_to '映画を探す', lists_path, class: 'h_link_item' %>
                </li>
    			  		<li class="h_list_item1">
                  <%= link_to 'ログイン', new_user_session_path, class: 'h_link_item' %>
                </li>
    						<li class="h_list_item2">
                  <%= link_to '新規登録', new_user_registration_path, class: 'h_link_item' %>
                </li>
              <% end %>
  					</ul>
  				</div>
  				<div class="h_form clearfix">
  					<div class="h_input">
  						<%= search_form_for @q, html: {class: 'form-inline'}, url: search_path  do |f| %>
              <div class="form-group">
                <%= f.search_field :j_title_or_e_title_cont, id: 'search_field', class: 'form-control search_field', placeholder: '作品名・人物名で検索' %>
              </div>
                <%= f.hidden_field :person_name_cont, :value => '', id: 'hidden_field'  %>
                <%= button_tag fa_icon("search"), id: 'search_submit', class: "btn-outline-light btn badge-pill search_submit" %>
              <% end %>
  					</div>
  				</div>
  			</div>
        <!-- ヘッダー　メニュー -->
        <span class="h_menu_icon"><%= fa_icon("bars") %></span>
        <div class="h_menu">
          <div class="h_menu_main">
            <div class="h_menu_item">
              <div>
                <span class="h_menu_close">×</span>
                <h3 class="h_menu_title">MENU</h3>
              </div>
              <div class="h_menu_search">
                <%= search_form_for @q, html: {class: 'form-inline', id: 'h_movie_search'}, url: search_path  do |f| %>
                  <div class="form-group">
                    <%= f.search_field :j_title_or_e_title_cont, id: 'h_search_field', class: 'form-control search_field', placeholder: '作品名・人物名で検索' %>
                  </div>
                  <%= f.hidden_field :person_name_cont, :value => '', id: 'h_hidden_field'  %>
                  <%= button_tag fa_icon("search"), id: 'h_search_submit', class: "btn-outline-light btn badge-pill search_submit" %>
                <% end %>
              </div>
              <div class="h_menu_link">
                <% if user_signed_in? %>
                <!-- ログインしていた場合 -->
                  <%= link_to user_path(current_user) do %>
                    <div class="h_menu_linkitem">
                      マイページ
                    </div>
                  <% end %>
                  <%= link_to lists_path do %>
                    <div class="h_menu_linkitem">
                      映画を探す
                    </div>
                  <% end %>
                  <%= link_to destroy_admin_session_path, method: :delete do %>
                    <div class="h_menu_linkitem">
                      ログアウト
                    </div>
                  <% end %>
                <% else %>
                <!-- ログインしてない場合 -->
                  <%= link_to lists_path do %>
                    <div class="h_menu_linkitem">
                      映画を探す
                    </div>
                  <% end %>
                  <%= link_to new_user_session_path do %>
                    <div class="h_menu_linkitem">
                      ログイン
                    </div>
                  <% end %>
                  <%= link_to new_user_registration_path do %>
                    <div class="h_menu_linkitem">
                      新規登録
                    </div>
                  <% end %>
                <% end %>
              </div>
            </div>
            <div class="h_menu_ex"></div>
          </div>
        </div>
  		</div>
  	</header>
    <% flash.each do |name, msg| %>
      <% unless name == 'notice' || name == 'alert'  %>
        <div class="alert alert-<%= name %>">
          <a class="close" data-dismiss="alert">×</a>
          <%= msg %>
        </div>
      <% end %>
    <% end %>
    <%= yield %>
    <footer>
    	<div class="footer container-fulid">
          <div class="container clearfix">
            <div class="footer_item footer_right">
              <div>
                <div class="page_top">
                  <%= fa_icon("arrow-up") %> PAGE TOP
                </div>
              </div>
              <div class="footer_link">
                <ul class="clearfix">
                  <li><%= link_to 'Cinemallについて' , about_path %></li>
                  <li><%= link_to '映画を探す', lists_path %></li>
                  <li>お問い合わせ</li>
                </ul>
              </div>
            </div>
            <div class="footer_item footer_left">
              <h1><%= fa_icon("film") %>Cinemall</h1>
              <span>Copyright© Cinemall All Rights Reserved.</span>
            </div>
          </div>
      </div>
    </footer>
  </body>
</html>
