<!DOCTYPE html>
<html>
  <head>
    <title>Cinemall</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
  	<header class="<%='top-header' if current_page?(top_path) %>">
  		<div class="container header clearfix">
  			<div class="h_left clearfix">
          <% if user_signed_in? %>
              <%= link_to user_path(current_user) do %>
                <h1 class="h_logo <%='h_logo_hide' if current_page?(top_path) %>"><%= fa_icon("film") %>Cinemall</h1>
              <% end %>
            <% else %>
              <%= link_to '/' do %>
                <h1 class="h_logo <%='h_logo_hide' if current_page?(top_path) %>" ><%= fa_icon("film") %>Cinemall</h1>
              <% end %>
          <% end %>
  			</div>
  			<div class="h_right">
  				<div class="h_link">
  					<ul class="h_list clearfix">
              <% if admin_signed_in? %>
                <li class="h_list_item1">
                  <%= link_to '管理者トップ', admins_top_path, class: 'h_link_item' %>
                </li>
                <li class="h_list_item1">
                  <%= link_to '映画一覧', admins_movies_path, class: 'h_link_item' %>
                </li>
                <li class="h_list_item1">
                  <%= link_to '利用者一覧', admins_users_path, class: 'h_link_item' %>
                </li>
                <li class="h_list_item2">
                  <%= link_to 'ログアウト', destroy_admin_session_path, method: :delete, class: 'h_link_item' %>
                </li>
              <% elsif user_signed_in? %>
                <li class="h_list_item1">
                  <%= link_to 'マイページ', user_path(current_user), class: 'h_link_item' %>
                </li>
                <li class="h_list_item1">
                  <%= link_to '映画を探す', lists_path, class: 'h_link_item' %>
                </li>
                <li class="h_list_item2">
                  <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'h_link_item' %>
                </li>
              <% else %>
    						<li class="h_list_item1">
                  <%= link_to '映画を探す', lists_path, class: 'h_link_item' %>
                </li>
    			  		<li class="h_list_item1">
                  <%= link_to 'ログイン', new_user_session_path, class: 'h_link_item' %>
                </li>
    						<li class="h_list_item2">
                  <%= link_to '新規登録', new_user_registration_path, class: 'h_link_item' %>
                </li>
              <% end %>
  					</ul>
  				</div>
  				<div class="h_form clearfix">
  					<div class="h_input">
  						<%= search_form_for @q, html: {class: 'form-inline'}, url: search_path  do |f| %>
              <div class="form-group">
                <%= f.search_field :j_title_or_e_title_cont, id: 'search_field', class: 'form-control search_field', placeholder: '作品名・人物名で検索' %>
              </div>
                <%= f.hidden_field :person_name_cont, :value => '', id: 'hidden_field'  %>
                <%= button_tag fa_icon("search"), id: 'search_submit', class: "btn-outline-light btn badge-pill search_submit" %>
              <% end %>
              </div>
  					</div>
  				</div>
  			</div>
  		</div>
  	</header>
    <% flash.each do |name, msg| %>
      <% unless name == 'notice' || name == 'alert'  %>
        <div class="alert alert-<%= name %>">
          <a class="close" data-dismiss="alert">×</a>
          <%= msg %>
        </div>
      <% end %>
    <% end %>
    <%= yield %>
    <footer>
    	<div class="footer container-fulid"></div>
    </footer>
  </body>
</html>
